*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 70px;
}

nav{
    background: rgb(19,45,70);
    background: linear-gradient(170deg, rgba(19,45,70,1) 0%, rgba(1,195,142,1) 100%);
}

li{
    height: 44px;
   
    padding: 4px;
    font-weight: bold;
    margin-left:5px;
    margin-top:7px

}


nav>li:hover{
    border-left:3px solid black;
    

}

.escondi{
    padding: 5px;
    padding-left: 2%;

 
    background-color: #01c38e;
    border-radius: 30px;
}


button:hover{
    background-color: #01c38e;

}
